# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py

# Logs
logs/

# OS
.DS_Store
Thumbs.db